name: check-macos
on:
  push:
    branches: [ "macos" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  macos-build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: oprypin/find-latest-tag@v1
        id: gettag
        with:
          repository: PerryWerneck/libv3270
          releases-only: true
      - name: Install Pre reqs
        run: |
          brew update
          brew install xz meson ninja curl gettext openssl pkgconfig gtk+3
          brew upgrade
      - name: build
        run: |
          export LDFLAGS=-Wl,-L${HOMEBREW_PREFIX}/lib
          meson setup --prefix=$(brew --prefix)/libv3270/${{ steps.gettag.outputs.tag }} .build       
          meson compile -C .build
              

